#pragma code_page(65001)

#include "resource.h"
#include "control_ids.h"
#include <windows.h>


IDD_ABOUT_DIALOG DIALOGEX 26, 41, 211, 111
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    CTEXT           "<PLUGIN_NAME_HERE>",IDC_ABOUT_NAME,10,10,190,9
    CTEXT           "<PLUGIN_VERSION_HERE>",IDC_ABOUT_VERSION,10,22,190,9
    CTEXT           "<PLUGIN_ATTRIBUTION_HERE>",IDC_ABOUT_ATTRIBUTION,10,54,190,9
    CONTROL         "<a>Plugin GitHub Link</a>",IDC_ABOUT_PROD_URL,"SysLink",0x0,75,66,61,9
    DEFPUSHBUTTON   "&OK",IDOK,81,92,50,14
    CTEXT           "<PLUG_BUILD_TIME_HERE>",IDC_ABOUT_BUILD_TIME,10,34,190,9
END
